.color1{
	background-color: #FFFFE0;
}
.container{
	margin-top: 15pt;
}
html {
  background-color: #f5f7f9;
}

body {
  background: #ECECEA;
  color: #69707a;
  font-family: 'Griffy', cursive;
}

strong {
  color: #222324;

}

.navbar {
  background: #6495ED;
}

.btn {
  font-weight: 300;
}

/*firstpage about me colour*/
.btn-primary {
  background: #6495ED;
  border-color: #6495ED;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background: #e05164;
  border-color: #e05164;
}

.card {
  border-color: #ccc;
}

.card-title {
  color: #e16879;
  font-weight: 300;
}

.card-block small {
  float: right;
}

.description {
  background-image: url("/pattern.png");
  background-repeat: repeat-x;
}
.jumbotron {
  background-image: url("../img/cover.jpg");
  background-size: cover;
  color: white;
}

.white{
	background-color: #1E90FF;
	color: white;
}